<!DOCTYPE html>              
<html>
  <head>
    <meta charset="UTF-8">  
    <link rel="stylesheet" type="text/css" href="./index.css"> 
    <title>Меню</title>
    <style> 
    </style>
  </head>                      
  <header>   
    Здоровий
  </header> 
  <body> 
    <form>
      <h1>Меню</h1> 
      <input type="button" onclick="location.href='/documents'" id="create" name="create" value="Створити документ" required> 
      <input type="button" id="base" onclick="location.href='/base'" value="База документів" name="base" required>  
      <input type="button" onclick="location.href='/'" value="Вийти" id="exit" required>
      </form> 
  </body>
</html> 