<!DOCTYPE html>                                     
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./index.css">  
    <title>Реєстрація</title>
    <style> 
    </style>
  </head> 
  <body> 
    <form method="POST" action="/signup"> 
      <h1>Реєстрація</h1> 
      <input type="text" id="username" name="username" placeholder="Прізвище, ім'я, по-батькові" required> 
      <input type="email" id="email" placeholder="E-Mail" name="email" required> 
      <input type="text" id="city" placeholder="Місто" name="city" required> 
      <input type="password" id="password" placeholder="Пароль" name="password" required>  
      <input type="password" id="confirm-password" placeholder="Повторіть пароль" name="confirm-password" required>
      <button type="submit" id="register">Зареєструватись</button>      
    </form>
  </body>
</html>









