<!DOCTYPE html>                       
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./index.css">  
    <title>Заповніть...</title>
  </head> 
  <body class="filling"> 
    <form action="/base-work" method="POST"> 
    <h1>Листок непрацездатності</h1> 
      <div class="code">      
        <input type="text" id="username" name="car_series" placeholder="Серія" required>
        <input type="text" id="username" name="car_number" placeholder="№" required>    
      </div>    
      <div class="code">       
        <input type="text" id="username" name="work_surname" placeholder="Прізвище лікаря" required>  
        <input type="text" id="username" name="work_number_cart" placeholder="№ Медичної карти" required>  
      </div>        
      <div class="first">
        <input type="text" id="username" name="last_name" placeholder="Прізвище Ім'я По-батькові" required>
        <input type="text" id="work" placeholder="Місце роботи" name="work_top" required>     
      </div> 
      <div class="first"> 
        <input type="text" id="username" name="work_reason" placeholder="Причина непрацездатності" required>
        <input type="text" id="username" name="work_issued" placeholder="Виданий(число,місяць,рік)" required>     
      </div>
      <div class="form-choose">
        <button class="next-card" type="submit" >Створити</button>   
        <button class="btn-choosen" type="button" onclick="history.back();">Назад</button>    
      </div> 
    </form>
  </body> 
</html> 

